p {
    color: red;
    
}

.app-header{
    box-shadow: 3px 3px 3px rgb(0, 0, 0);

}

.app-title{
    font-size: 4em;
    font-style: italic;
    color: rgb(255, 187, 0);
}

.fa-film{
    color: rgb(255, 187, 0);
}

.app-banner-image{
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
    margin-top: 0px;
}

.app-header{
    margin-bottom: 0px;
}