


<header class="p-3 bg-dark text-white mb-3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a [routerLink]="['/home-page']" class="nav-link px-2 text-secondary">Accueil</a></li>
        <li><a [routerLink]="['/page-on-display']" class="nav-link px-2 text-white">A l'Affiche</a></li>
        <li><a [routerLink]="['/page-booking']" class="nav-link px-2 text-white">Réservation</a></li>
        <li><a [routerLink]="['/page-contact']" class="nav-link px-2 text-white">Contact</a></li>
        <li><a [routerLink]="['/page-quizz']" class="nav-link px-2 text-white">Quizz</a></li>
        <li><a [routerLink]="['/page-admin']" class="nav-link px-2 text-white">Admin</a></li>

        <li *ngIf="showAdminBoard">
          <a [routerLink]="['/admin']" class="nav-link px-2 text-secondary">Admin</a>
        </li>
        <li *ngIf="showModeratorBoard">
          <a [routerLink]="['/mod']" class="nav-link px-2 text-secondary">Moderateur</a>
        </li>
        <li>
          <a [routerLink]="['/user']" class="nav-link px-2 text-secondary" *ngIf="isLoggedIn">Utilisateur</a>
        </li>

      </ul>

      <!--
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>
      -->

      <div class="text-end" *ngIf="!isLoggedIn">
        <button type="button" [routerLink]="['/login']" class="btn btn-outline-light me-2">Login</button>
        <button type="button" [routerLink]="['/register']" class="btn btn-warning">Sign-up</button>
      </div>

      <div class="text-end" *ngIf="isLoggedIn">
        <button type="button" [routerLink]="['/profile']" class="btn btn-outline-light me-2">{{ username }}</button>
        <button type="button" class="btn btn-warning" (click)="logout()">LogOut</button>
      </div>


 

    </div>
  </div>


  <div
  class="p-5 text-center bg-image mt-3 app-banner-image"
  style="
    background-image: url('https://www.maxpixel.net/static/photo/1x/Red-Curtain-Cinema-Background-Theater-Stripes-551797.jpg');
  "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <div class="d-flex justify-content-center mt-3 mb-3">
            <div class="me-4">
              <i class="fa fa-film fa-5x"></i>
            </div>
            <div>
              <h1 class="app-title">ScenARRY'o </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>