
  <div class="container">
    <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

      <ul class="nav nav-pills">
        <li class="nav-item"><a [routerLink]="['/page-admin']" class="nav-link active" aria-current="page">Overview</a></li>
        <li class="nav-item"><a [routerLink]="['/gestion-movies']" class="nav-link">Films</a></li>
        <li class="nav-item"><a [routerLink]="['/gestion-rooms']" class="nav-link">Salles</a></li>
        <li class="nav-item"><a [routerLink]="['/gestion-schedules']" class="nav-link">Horaires</a></li>
        <li class="nav-item"><a [routerLink]="['/gestion-film-showes']" class="nav-link">Séances</a></li>
      </ul>
    </div>
  </div>


  <h1>Section Admin </h1>
  <h3>Gestion des séances</h3>


  <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">Sièges réservés</th>
            <th scope="col">prix du ticket</th>
            <th scope="col">Film</th>
            <th scope="col">Horaire</th>
            <th scope="col">Salle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let filmSHow of filmShowesList; let i = index">
            <td>{{ filmSHow.bookedSeats }}</td>
            <td>{{ filmSHow.priceTicket }}</td>
            <td>{{ filmSHow.showMovie?.title }}</td>
            <td>{{ filmSHow.showSchedule?.showDate }}</td>
            <td>{{ filmSHow.showRoom?.roomNumber }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

   
  