
  <div class="container">
    <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

      <ul class="nav nav-pills">
        <li class="nav-item"><a [routerLink]="['/page-admin']" class="nav-link active" aria-current="page">Overview</a></li>
        <li class="nav-item"><a [routerLink]="['/gestion-movies']" class="nav-link">Films</a></li>
        <li class="nav-item"><a [routerLink]="['/gestion-rooms']" class="nav-link">Salles</a></li>
        <li class="nav-item"><a [routerLink]="['/gestion-schedules']" class="nav-link">Horaires</a></li>
        <li class="nav-item"><a [routerLink]="['/gestion-film-showes']" class="nav-link">Séances</a></li>
      </ul>
    </div>
  </div>


  <h1>Section Admin </h1>
  <h3>Gestion des horaires</h3>


  <div class="card my-5 col-3">
    <div class="card-body">
      <form (ngSubmit)="onSubmitAddSchedule()" #scheduleForm="ngForm">
        
        <div class="form-group">
          <label for="showDate">Date :</label>
          <input type="date" [(ngModel)]="schedule.showDate"
            class="form-control" 
            id="showDate" 
            name="showDate" 
            placeholder="Date">
        </div>

        <div class="form-group">
          <label for="startingHour">Heure de début :</label>
          <input type="time" value={{text}} [(ngModel)]="schedule.startingHour"
            class="form-control" 
            id="startingHour" 
            name="startingHour" 
            placeholder="Heure de début">
        </div>

        <div class="form-group">
          <label for="endingHour">Heure de fin :</label>
          <input type="time" [(ngModel)]="schedule.endingHour" 
            class="form-control" 
            id="endingHour" 
            name="endingHour" 
            placeholder="Heure de fin">
        </div>

        <div *ngIf="submitted">L'horaire a été envoyé avec succès</div>

        <br>
        <div>
          <button type="submit"
            class="btn btn-success"><i class="fa fa-plus"></i>
          </button>
        </div>

      </form>
    </div>
  </div>


  <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Heure de début</th>
            <th scope="col">Heure de fin</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schedule of schedulesList; let i = index">
            <td>{{ schedule.showDate }}</td>
            <td>{{ schedule.startingHour }}</td>
            <td>{{ schedule.endingHour }}</td>
            <td>
              <button 
              class="btn btn-danger"
              (click)="handleClickDeleteSchedule(schedule.id)"
              >
                  <i class="fa fa-trash"></i>
              </button>
              <button 
              class="btn btn-warning"
              (click)="handleClickUpdateSchedule(schedule.id)"
              >
                  <i class="fa fa-pencil"></i>
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>