#content{
    background-image : url('C:/workspace_angular/pdf-generate/src/assets/background.jpg');
    color: white;
    padding: 20px;
    margin: auto 0;
}
.fa-cc-visa{
    size : 9px;
}

.screen{
    height: 10px;
    width: inherit;
    background-color: black;
}