.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: thistle;
    width: 50%;
    height: 500px;
    padding: 2%;
    border-radius: 30%;
}

.contenant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// .quizz {
//     background-image: url("../../assets/quizzHarryPotter.jpg");
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

.accueilQuizz {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btnStartQuizz {
    height: 50px;
    border-radius: 2%;
    width: 70%;
}

button {
    margin: 1%;
    height: 20%;
    width: 55%;
    border: 2px solid black; 
    border-radius: 15%;
}

.question {
    font-size: 150%;
    text-align: center;
}

.score {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
    padding-top: 3%;
}

.btnQuestionSuivante {
    height: 10%;
    width: 35%;
    margin-left: 40%;
    background-color: black;
    color: white;
}

.potter {
    position: absolute;
    right: 0%;
    top: 10%;
}

.btnPlayAgain {
    height: 20%;
    width: 55%;
    margin-left: 40%;
    background-color: black;
    color: white;
}

.app-banner-image {
    width: 780px;
  }

  .app-background-quizz{
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: 50px;
    margin-right: 50px;
    height: 85px;
  }