
  <div class="container">
    <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

      <ul class="nav nav-pills">
        <li class="nav-item"><a [routerLink]="['/page-admin']" class="nav-link active" aria-current="page">Overview</a></li>
        <li class="nav-item"><a [routerLink]="['/gestion-movies']" class="nav-link">Films</a></li>
        <li class="nav-item"><a [routerLink]="['/gestion-rooms']" class="nav-link">Salles</a></li>
        <li class="nav-item"><a [routerLink]="['/gestion-schedules']" class="nav-link">Horaires</a></li>
        <li class="nav-item"><a [routerLink]="['/gestion-film-showes']" class="nav-link">Séances</a></li>
      </ul>
    </div>
  </div>


  <h2>Section Admin </h2>
  <h3>Ajouter une nouvelle salle </h3>
  <form (ngSubmit)="handleClickAddRoom(formAddRoom)" #formAddRoom="ngForm">
      <div class="row">
        <div class="col-2">
            <input name="roomNumber" class="form-control" placeholder="Numéro salle" ngModel>
        </div>
        <div class="col-2">
            <input name="seatsQuantity" class="form-control" placeholder="Nombre de place" ngModel>
        </div>
        
        <div class="col-2">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-plus"></i>
            </button>
        </div>
      </div> 
      <div class="row">
        
      </div>
    </form>
  <h3>Gestion des salles</h3>

  <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">Numéro de la salle</th>
            <th scope="col">Nombre de place</th>
            <th scope="col">Nombre de séance programmé</th>
            <th scope="col">Actions </th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of roomList; let i = index">
            <td>{{ room.roomNumber }}</td>
            <td>{{ room.seatsQuantity }}</td>
            <td>{{ room.filmShow.length }}</td>
            <td>
              <button class="btn btn-danger"
                      (click) = "handleClickDeleteRoom(room.id)"
              ><i class="fa fa-trash"></i>
              </button>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>


