
  #map {
    border: 2px solid black;
    height: 500px;
  }

  .urlItineraire {
    // float:right;
    margin-right: 30%;
    margin-top: 5%;
  }

// depuis css de film-show 
  .app-booking-poster {
    width: 400px;
    height: 280px;
    text-align: center;
}

.app-booking-details {
    width: 2000px;
}

.crop-text-2 {
    -webkit-line-clamp: 5;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.app-banner-image {
  background-color: rgb(255, 187, 0);
  box-shadow: 3px 3px 3px rgb(83, 61, 0);

}

.mask{
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 3px rgb(49, 36, 0);
}