<div class="p-4 pe-5 ps-5 ms-5 me-5 text-center bg-image  app-banner-image">
  <div class="mask" >
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <div class="d-flex justify-content-center mt-1 mb-1">
                <div>
                  <h1 class="app-title">Réservation</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



<div class="d-flex flex-row bd-highlight mb-0">

    <div class="ms-3 p-2 w-100 bd-highlight pb-0">
        <div class="card my-5 col-11 mb-0 ">
            <div class="card-body">
                <form (ngSubmit)="onSubmitBooking()" required #bookingForm="ngForm">
                    <div class="form-group">
                        <label for="movie">Sélection du film * :</label>
                        <select type="select" 
                          class="form-select"
                          id="movie"
                          name="movie"
                          [(ngModel)]="movie"
                          #SelectedMovie
                          (change) = "onChangeSelectedMovie(movie)"
                          placeholder="titre du film"
                          >
                            <option></option>
                            <option [ngValue]="movie" *ngFor="let movie of moviesList; let i = index">
                                
                                {{ movie.title }}
                            </option>
                        </select>

                    </div>
        
                    <br>
                    <div class="form-group">
                        <label for="schedule.showDate">Sélection de l'horaire * : </label>
                        
                        <select type="select" 
                          class="form-select"
                          id="show"
                          name="show"
                          [(ngModel)]="show"
                          #SelectedMovie
                          (change) = "onChangeSelectedSchedule(show)"
                          placeholder="Horaires "
                          >
                            <option></option>
                            <option [ngValue]="show" *ngFor="let show of filmShowes; let i = index">
                                
                                {{ show.showSchedule.showDate | date:'EE dd MMMM YY, HH:MM' :'' : 'fr-FR' }} -- {{ show.showSchedule.startingHour }}
                            </option>
                        </select>
                    </div>
        
                    
        
                    <br>
                    <div>
                        <button type='submit' class="btn btn-success" (click) = "handleClickBooking()">Réserver</button>
                    </div>
                    <div *ngIf="bookingForm.invalid"> 
                        * Champs requis. 
                      </div> 
                </form>
            </div>
        </div>
    </div>

    <div class="app-booking-details me-3 p-2 bd-highlight">
        
            <div class="card my-5 col-12">
                <div class=" card-body">


                    <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="ms-3 p-2 w-100 bd-highlight">

                            <h3 class="mb-2">Votre sélection</h3>

                            <article class="mb-2"> Titre : {{ movie.title}}</article>
                            <article class="mb-2"> Producteur : {{ movie.producer }}</article>
                            <article class="mb-2"> Durée : {{ movie.duration }}</article>
                            <article class="text-justify crop-text-2 mb-2"> Synopsis : {{ movie.synopsis }}</article>

                        </div>

                        <div class="app-booking-poster me-3 p-2 bd-highlight">

                            <img src="{{ movie.poster }}" width="200">

                        </div>
                    </div>
                
                </div>
             </div>
            
        
    </div>
  </div>

  <div *ngIf="submitted">
    <div class="ms-3 p-2 w-100 bd-highlight">
        <div class="card my-5 col-4 mt-0">

            
                <div>Film : {{ movie.title }}</div>
                <div>Date : {{ schedule.showDate }}</div>
                <div>Horaire : {{ schedule.startingHour }}</div>
                <br>
                <div class="fw-bold">Réservation faite avec succès</div>
            

        </div>
    </div>    
  </div>

 


  






