<h1>Bienvenue sur le site ScenARRY'o </h1>

<h2>Banière du Boolean</h2>

<div class="container">
  <header class="jumbotron">
    <p>{{ content }} wesh c'est quoi cette partie ?</p>
  </header>
</div>





<div class="card-columns">
  <div  *ngFor="let movie of moviesList; let i = index">

    <div class="card text-center" >
      <div class="card-body">
        <img class="card-img" src="{{ movie.poster }}"  alt="Affiche du film ">
        <h5 class="card-title">{{ movie.title }}</h5>
        <h5 class="card-text bg-warning">{{ movie.ageLimited }}</h5>

        <a href="#" class="btn btn-primary">Plus d'informations</a>
      </div>
    </div>
  </div>
</div>
