

<div class="app-banner-box">
  <div class="app-banner-box__banner">
    <div class="app-event">Evénement Marathon</div>
    <div class="app-HP">Harry Potter</div>
    <div>du 07/06/2021 au 11/06/2021</div>
  </div>
  <div class="app-banner-box__HP">
    <img class="card-img app-image-HP" src="https://images8.alphacoders.com/760/760721.png" alt="Affiche du film ">
  </div>
</div>

<!-- Banniere -->
<app-banniere></app-banniere>


<h1 class="app-title2">En salle en ce moment </h1>
<div class="contenair-card">

  <div *ngFor="let movie of moviesList; let i = index">
    <div class="card text-center app-card">
      <div class="card-body">

        <div class="card-img">
          <img class="card-img" src="{{ movie.poster }}" alt="Affiche du film ">
        </div>

        <div class="card-title">
          <p>{{ movie.title }}</p>
        </div>

        <div class="bg-warning app-age-warning">
          <p>{{ movie.ageLimited }}</p>
        </div>

        <div>
          <button class="btn btn-primary mt-2 mb-2" href="#" (click)="handleClickDetailsMovie(movie)">
            <i class="fa fa-search"></i> Détails
          </button>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="app-container-pub">
  <div class="app-container-pub__left card  my-5 col-11">
    <div class="card-body">
      <h1 class="app-text">Vous avez envie de séries et films en ilimité et en instantané sur internet ?</h1>
      <div>Alors venez découvrir : </div>
      <p class="app-title">ARRY-Flix</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-warning btn-lg app-button" href="#" role="button">Commencez votre mois gratuit</a>
      </p>
    </div>
  </div>
  <div class="app-container-pub__left card  my-5 col-11">
    <div class="card-body">
      <h1 class="app-text">Marre du Boulot ? Envie de se détendre seul ou en famille ?</h1>
      <div>Notre nouveau parc d'attraction est fait pour vous : </div>
      <p class="app-title app-title--color">ARRY-Land</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-success btn-lg app-button" href="#" role="button">Réservez vos billets</a>
      </p>
    </div>
  </div>





</div>