<div class="banniere">
  <h2>Banière du Boolean</h2>
</div>







<div class="contenair-card">

  <div *ngFor="let movie of moviesList; let i = index">

    <div class="card text-center app-card">

      <div class="card-body">

        <div class="card-img">
          <img class="card-img" src="{{ movie.poster }}" alt="Affiche du film ">
        </div>

        <div class="card-title">
          <p>{{ movie.title }}</p>
        </div>

        <div class="bg-warning">
          <p>{{ movie.ageLimited }}</p>
        </div>

        <div>
          <button class="btn btn-primary mt-2 mb-2" href="#" (click)="handleClickDetailsMovie(movie)">
             <svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85
                 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg> Détails
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contenair-advert">
  <div class="jumbotron">
    <h1 class="display-4">La réponse à toute vos questions c'est ICI</h1>
    <p class="lead">Vous pourrez lui parler et jamais il ne vous prendra la tête !</p>
    <hr class="my-4">
    <p>Achetez votre canard en plastique !!!!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Commandez le maintenant !</a>
    </p>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">Votre taille ne vous convient pas ?</h1>
    <p class="lead">Voici une solution miracle grâce à un remède vieux de 1000 ans !!</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>